


.container{
    margin-top: 30px;
}


.container_{
    width: 98%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    height: 880px;
    
}

.container_ .blocos{
    border: 2px solid var(--azul-linha);
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container_ div h3{
    background: gb(156, 151, 151);
    justify-content: center;
    text-align: center;
}

.unchecked_devices_box{
    height: 780px;
    margin-bottom: 4px;
    border: 1px solid rgb(156, 151, 151);
    overflow-y: auto;
}
.checked_devices_box{
    height: 780px;
    margin-bottom: 4px;
    border: 1px solid rgb(156, 151, 151);
    overflow-y: auto;
}


.config_devices_box{
    height: 670px;
    width: 600px;
    margin-bottom: 4px;
    overflow-y: auto;
}

/* -------- AUTHENTICATION BOX  -----------*/
.config_devices_box textarea{
    width: 100%;
    padding: 10px;
    height: 100%;
    border: 1px solid rgb(156, 151, 151);
}

.aut_area{
    margin-top: 15px;
}

.check_autentication{
    display: flex;
    align-items: center;
    align-content: center;
}

.check_autentication label{
    margin-right: 10px;
}



/* -------- BOTOES -----------*/

.bt{
    border-radius: 9px;
    width: 140px;
    text-align: center;
    height: 30px;
    border:none;
}

.run_bt{
    background: rgb(19, 121, 25);
    color: white;
    
}


/* -------- MESSAGENS E ALERTAS -----------*/
.alert{
    border-radius: 5px;
    margin-left: 5px;
    padding-left: 5px;
    height: 40px;
    border: 5px;
    display: flex;
    align-items: center;
    transition: width 1s ease-out;
}

.alert-success{
    background: rgba(13, 235, 24, 0.133);
    color: #2b4b0c;
}

.alert-danger{
    background: rgba(238, 139, 9, 0.133);
    color: rgb(160, 56, 24);
}
